.container-fluid
  .row
    div(class= "ruled " +
      "col-xs-18 col-xs-offset-3 " +
      "col-sm-14 col-sm-offset-5 " +
      "col-md-12 col-md-offset-6 " +
      "col-lg-8 col-lg-offset-8 " )

      h2.h2 Grumpy wizards make toxic brew for the evil Queen and Jack.
      p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
  .row.md-vertical-fill
    //- div(class=" " +
    //-   "col-xs-18 col-xs-offset-3 " +
    //-   "col-sm-8 col-sm-offset-2 ")
    .col-md-12.fuckshit
      h4.h4 A Quandry Most Pressing:
      p Has anyone really been far even as decided to use even go want to do look more like?
    .col-md-12(style="background: url(http://thecatapi.com/api/images/get?format=src&type=jpg) top center no-repeat; background-size:cover; min-height:500px;")



